.search {
	display: flex;
	position: relative;
}

.autocomplete {	
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	overflow: hidden;
	top: 50px; /* top 값을 적절한 위치로 조정 */
	left: 0;
}

.autocomplete > div.active {
	background: #e0e5f6;
	color: #000000;
	font-weight: bold;
	border-radius: 5px;
}

.autocomplete > div {
	background: #ffffff; 
	padding: .2rem .6rem;
	color: #333333;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease, border 0.2s ease;
}

.autocomplete > div:hover {
	background-color: #f1f1f1;
	border: 1px solid #b7b7b7;
}