body {
    font-family: Arial, sans-serif;
}

.detail-question{
	border: none;
	margin-bottom: 3px;
	margin-right: 80px;
}

#questions {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#answer {
    margin-top: 20px;
  /*   border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 3px;
}

#chat-panel {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#chat-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EEEED4;
    border: 1px solid;
}

#close-chat {
    position: fixed;
    bottom: 37px;
    right: 60px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 19px;
    border-radius: 4px;
    cursor: pointer;
}

#chat-panel {
    display: none;
    width: 360px;
    height: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    color: black;
}

#chat-panel #questions {
    flex-direction: column;
    overflow-y: auto;
    max-height: 70%;
}

#chat-panel #answer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 25%;
    overflow-y: auto;
}

.question {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 1%;
    float: right;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    align-self: flex-end;
    background-color: #4CAF50;
    color: white;
    border-radius: 18px 0px 18px 18px;
    margin-bottom: 10px;
    margin-left: 155px;
    width: 48%;
    text-align: center;
    margin-top: 50px;
}

.bot-message {
   align-self: flex-start;
   background-color: #f1f0f0;
   color: black; 
   border-radius: 0px 18px 18px 18px;
   margin-bottom: 10px;
   margin-right: 80px;
   padding: 10px;
   width: 100%;
}

#chat-container {
	height: 100%;
 	overflow-y: auto;
    overflow-x: hidden;
}

.gamza {
    width: 50px;
    height: 50px;
}

.message-img {
    width: 40px;
    height: 40px;
}
