@charset "UTF-8";

#contentswrap {
    margin: 0px auto;
    width: 980px;
}

#contentswrap #contents {
    zoom: 1;
}

#main_menu {
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    border-color: currentColor;
    width: 148px;
    margin-top: -13px;
    float: left;
    position: relative;
    z-index: 993;
    display: contents;
} 

#main_menu .bg_menu_else {
    background: url(//pics.gmarket.co.kr/pc/ko/myg/img_myg.png) no-repeat -160px -50px;
    left: 149px;
    top: -1px;
    width: 8px; 
    height: 13px;
    position: absolute;
    z-index: 994;
}

#main_menu .menu_list {
    width: 148px; 
    border-bottom-color: #7fad39;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    float: left;   
}

ul, ol, li, dl, dt, dd {
    list-style: none;
}

a {
    color: #ffff;
    text-decoration: none;
    background-color: transparent;
}

#main_menu .menu_list li {
    background: #7fad39;
    width: 100%;
    float: left;
}

#main_menu .menu_list li a.mn1 {
    border-top-color: currentColor;
    border-top-width: 0px;
    border-top-style: none;
}

table.myg_tab td.on {
    background: url(//pics.gmarket.co.kr/pc/ko/net/myg/bg_myg_tab_on.png) repeat-x;
}

table.myg_tab td.on a {
    background: #7fad39;
    height: 30px;
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
}

table.myg_tab td.on a.first span {
    border-left-color: rgb(63, 148, 7);
    border-left-width: 1px;
}

table.myg_tab td a.short span {
    padding: 0px 9px;
    min-width: 60px;
}

table.myg_tab td a {
    height: 35px;
    text-align: center;
    line-height: 35px;
    overflow: hidden;
    font-size: 12px;
    border-right-color: rgb(17, 46, 86);
    border-left-color: rgb(74, 114, 168);
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    display: block;
}

.btn_blue_style2 {
    background: #7fad39 no-repeat right 0px;
    height: 31px;
    padding-right: 46px;
    display: inline-block;
}

.btn_center {
    text-align: center;
    margin-top: 10px;
}

#main_cont {
    padding: 15px 0px 10px 40px;
    width: 820px;
    float: left;
    min-height: 650px;
}

div.my_info_setting table th { 
    padding: 4px 0 0 19px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #777;
    background: #f7f7f7;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -1px;
    text-align: left;
    vertical-align: middle;
}

div.my_info_setting table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.font_style1 {
    margin-left: 5px;
    color: #888;
    font-size: 11px !important;
    letter-spacing: -1px;
}

div.my_info_setting table td {
    padding: 8px 12px 6px 12px;
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
}

div.my_info_setting table td ul li input {
    margin: 0px 5px;
}

input.txt {
    height: 18px;
    padding-left: 7px;
    border: 1px solid #e9e9e9;
    border-top: 1px solid #c5c5c5;
    border-left: 1px solid #d2d2d2;
    color: #444;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
}

div.my_info_setting table td ul li label {
    width: 103px;
    font-size: 12px;
    line-height: 20px;
}

div.my_info_setting a.member_quit {
    /* position: absolute; */
    right: 0;
    top: -25px;
}

.btn_s_gray10 {
    background: url(//pics.gmarket.co.kr/pc/ko/net/myg/button/btn_gray_right_10.png) no-repeat right 0px;
    height: 22px;
    padding-right: 22px;
    display: inline-block;
}