
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e0e0e0;
    }
 
    h3 {
        margin-top: 0;
    }

button {
    margin-top: 10px; 
    display: block;
	margin: 10px auto;
	padding: 10px 20px;
	background-color: #7fad39;
	color: white;
	border: none;
	cursor: pointer;
	
	/*
	margin-top: 35px;
    margin-left: 40%;
	  */
	
}