<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="adminMapper"> <!-- 파일이름x / 예명  -->
	<!--관리자 로그인-->
	 <select id="adminCheck" parameterType="String" resultType="com.itwillbs.domain.AdminDTO">
        SELECT admin_id, admin_pass
        FROM admin
        WHERE admin_id = #{admin_id}
    </select>
    <!--관리자 정보-->
    <select id="getAdminInfo" resultType="map">
    	select * from admin
    	where admin_id = #{admin_id}
    </select>
    <!--공지사항 글목록 -->
    <select id="getCnotice" resultType="map">
    	select * 
    	from admin_csnotice
    	ORDER BY admin_cs_num DESC;  
    </select>
   
    <select id="getNotice" resultType="map">
    SELECT * 
    FROM admin_csnotice 
    WHERE admin_cs_num = #{admin_cs_num};
	</select>
     
    <!--공지사항 글쓰기(에디터없이)-->
    <insert id="insertNotice" parameterType="String">
    	  INSERT INTO admin_csnotice (
    	  admin_id, 
    	  admin_csnotice_sub,
          admin_cs_day,
      	  admin_cs_view,
    	  admin_cs_file
  		  )
  		  VALUES (
    	  #{admin_id}, 
    	  #{admin_csnotice_sub},
    	  #{admin_cs_day}, 
    	  #{admin_cs_view},
    	  #{admin_cs_file}
  		  )
  	</insert>
   	<update id="updateContent" parameterType="Map">
    UPDATE admin_csnotice
    SET admin_csnotice_sub=#{admin_csnotice_sub}, 
    	admin_cs_view=#{admin_cs_view}
    WHERE admin_cs_num=#{admin_cs_num}
  	</update>
  	
  	<delete id="deleteContent" parameterType="int">
  	DELETE FROM admin_csnotice WHERE admin_cs_num = #{admin_cs_num}
	</delete>
	
	<!-- 제철팜 글목록 가져오기 -->
	<select id="getBlog" resultType="map">
    	SELECT * 
    	FROM admin_blog
    	ORDER BY admin_blog_num DESC;  
    </select>
    
    <!-- 제철팜 글쓰기 -->
	<insert id="insertBlog" parameterType="String">
		INSERT INTO admin_blog (
		admin_id, 
		admin_blog_mainTitle,
		admin_blog_subTitle,
		admin_blog_day,
		admin_blog_content,
		admin_blog_file
		)
		VALUES (
		#{admin_id}, 
		#{admin_blog_mainTitle},
		#{admin_blog_subTitle},
		#{admin_blog_day}, 
		#{admin_blog_content},
		#{admin_blog_file}
		)
	</insert>
	
	<!-- 제철팜 글내용 가져오기 -->
	<select id="getblogContent" resultType="map">
	    SELECT * 
	    FROM admin_blog
	    WHERE admin_blog_num = #{admin_blog_num};
	</select>
	
	<!-- 제철팜 글수정 -->
   	<update id="blogUpdate" parameterType="Map">
	    UPDATE admin_blog
	    SET admin_blog_mainTitle = #{admin_blog_mainTitle}, 
	    	admin_blog_subTitle = #{admin_blog_subTitle}, 
	    	admin_blog_content = #{admin_blog_content}
	    WHERE admin_blog_num = #{admin_blog_num}
  	</update>
  	
  	<!-- 제철팜 글삭제 -->
  	<delete id="blogDelete" parameterType="int">
  		DELETE FROM admin_blog WHERE admin_blog_num = #{admin_blog_num}
	</delete>

	<!-- 제철팜 디테일 이런 레시피는 어떠세요? -->
	<select id="getAllPosts" resultType="map">
	    SELECT * 
	    FROM admin_blog
	    ORDER BY admin_blog_num ASC;
	</select>
	
</mapper>
