<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="adminMapper"> <!-- 파일이름x / 예명  -->
	<!--관리자 로그인-->
	 <select id="adminCheck" parameterType="String" resultType="com.itwillbs.domain.AdminDTO">
        SELECT admin_id, admin_pass
        FROM admin
        WHERE admin_id = #{admin_id}
    </select>
    <!--관리자 정보-->
    <select id="getAdminInfo" resultType="map">
    	select * from admin
    	where admin_id = #{admin_id}
    </select>
   <update id="updateAdmin" parameterType="map">
    	UPDATE admin
    	SET admin_pass = #{newPass}, admin_nickname = #{admin_nickname}, admin_birth = #{admin_birth}
    	WHERE admin_id = #{admin_id}
	</update>
	<update id="updateNicknameAndBirth" parameterType="map">
    	UPDATE admin
    	SET  admin_nickname = #{admin_nickname}, admin_birth = #{admin_birth}
    	WHERE admin_id = #{admin_id}
	</update>
	
    <!--공지사항 글목록 -->
    <select id="getCnotice" resultType="map">
    	select * 
    	from admin_csnotice
    	ORDER BY admin_cs_num DESC;  
    </select>
   
    <select id="getNotice" resultType="map">
    SELECT * 
    FROM admin_csnotice 
    WHERE admin_cs_num = #{admin_cs_num};
	</select>
     
    <!--공지사항 글쓰기(에디터없이)-->
    <insert id="insertNotice" parameterType="String">
    	  INSERT INTO admin_csnotice (
    	  admin_id, 
    	  admin_csnotice_sub,
          admin_cs_day,
      	  admin_cs_view,
    	  admin_cs_file
  		  )
  		  VALUES (
    	  #{admin_id}, 
    	  #{admin_csnotice_sub},
    	  #{admin_cs_day}, 
    	  #{admin_cs_view},
    	  #{admin_cs_file}
  		  )
  	</insert>
  	
   	<update id="updateContent" parameterType="Map">
    UPDATE admin_csnotice
    SET admin_csnotice_sub=#{admin_csnotice_sub}, 
    	admin_cs_view=#{admin_cs_view}
    WHERE admin_cs_num=#{admin_cs_num}
  	</update>
  	
  	<delete id="deleteContent" parameterType="int">
  	DELETE FROM admin_csnotice WHERE admin_cs_num = #{admin_cs_num}
	</delete>
	
	<!-- 제철팜 소비자 화면 -->
	<select id="getBlog" resultType="map">
    	SELECT * 
    	FROM admin_blog
    	ORDER BY admin_blog_num DESC
    	LIMIT #{startRow}, #{pageSize}  
    </select>
    
    <!-- 제철팜 관리자 화면 -->
	<select id="getBlogMng" resultType="map">
    	SELECT * 
    	FROM admin_blog
    	ORDER BY admin_blog_num DESC;  
    </select>
    
    <!-- 제철팜 글쓰기 -->
	<insert id="insertBlog" parameterType="String">
		INSERT INTO admin_blog (
		admin_id, 
		admin_blog_mainTitle,
		admin_blog_subTitle,
		admin_blog_day,
		admin_blog_content,
		admin_blog_file
		)
		VALUES (
		#{admin_id}, 
		#{admin_blog_mainTitle},
		#{admin_blog_subTitle},
		#{admin_blog_day}, 
		#{admin_blog_content},
		#{admin_blog_file}
		)
	</insert>
	
	<!-- 제철팜 글내용 가져오기 -->
	<select id="getblogContent" resultType="map">
	    SELECT * 
	    FROM admin_blog
	    WHERE admin_blog_num = #{admin_blog_num};
	</select>
  	
	<!-- 제철팜 글수정 -->
	<update id="blogUpdate" parameterType="Map">
	    UPDATE admin_blog
	    SET admin_blog_mainTitle = #{admin_blog_mainTitle},
	        admin_blog_subTitle = #{admin_blog_subTitle},
	        admin_blog_content = #{admin_blog_content},
	        admin_blog_file = 
	        <foreach collection="admin_blog_files" item="file" separator="," open="(" close=")">
	            #{file}
	        </foreach>
	    WHERE admin_blog_num = #{admin_blog_num}
	</update>
  	
  	
  	<!-- 제철팜 글삭제 -->
  	<delete id="blogDelete" parameterType="int">
  		DELETE FROM admin_blog WHERE admin_blog_num = #{admin_blog_num}
	</delete>

	<!-- 제철팜 디테일 이런 레시피는 어떠세요? -->
	<select id="getAllPosts" resultType="map">
	    SELECT * 
	    FROM admin_blog
	    ORDER BY admin_blog_num ASC;
	</select>

	<!-- 제철팜 페이징 처리 -->
	<select id="getBlogCount" resultType="java.lang.Integer">
  		SELECT count(*) 
  		FROM admin_blog
  	</select>
  	
  	 <!-- 상품전체 가져오기  -->
    <select id="getItemList" resultType="map">
      SELECT item_num
	  		,i.seller_type
	  		,item_name
	 	 	,seller_storeName
      		,item_left
      		,item_salesStatus
	  FROM item i 
	  JOIN seller s
	  ON i.seller_num = s.seller_num 
	  ORDER BY item_num desc;   
    </select>
  	
  	<!-- 판매상태 변경 -->
  	<update id="ChangeItemStatus">
    UPDATE item
    SET item_salesStatus = 
        CASE
            WHEN item_salesStatus = 'Y' THEN 'N'
            ELSE 'Y'
        END
    WHERE item_num = #{item_num};
	</update>
	
	<!-- 상품 카테고리 추가 -->
	<insert id="insertCate" parameterType="map">
    INSERT INTO category_type (seller_type, type_name)
    VALUES (#{sellerType}, #{typeName});
	</insert>
	
	<!-- 상품목록 가져오기 -->
	<select id="getTypes" resultType="map">
		SELECT seller_type, type_name
		FROM category_type
		ORDER BY type_name asc;
	</select>
	
	<delete id="deleteCate">
	    DELETE FROM category_type
	    WHERE seller_type IN
	    <foreach item="sellerType" collection="list" open="(" separator="," close=")">
	        #{sellerType}
	    </foreach>
	</delete>

	
	
	
	<update id="updateAdminReply" parameterType="com.itwillbs.domain.TwoBoardDTO">
		UPDATE two_board
	    SET
	      two_board_reply = #{two_board_reply},
	      two_board_repYn = '답변완료',
	      two_board_repDay = now()
	    WHERE
	      two_board_num = #{two_board_num};
	</update>
	
	<select id="getAllTwoBoards" resultType="com.itwillbs.domain.TwoBoardDTO">
	   	SELECT *
	   	FROM two_board
	</select>
  	
</mapper>
