<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MemberMapper"> <!-- 파일이름x / 예명  -->
	
	<insert id="insertMember"> 
	 	insert into member(member_num, member_id, member_pass, member_name, member_phone, member_email, member_joinDay, member_post, member_addMain, member_addSub)
	 	values(#{member_num}, #{member_id},#{member_pass}, #{member_name}, #{member_phone}, #{member_email}, now(), #{member_post}, #{member_addMain}, #{member_addSub})
	</insert>  
	
	<select id="nuserCheck" 
                  resultType="com.itwillbs.domain.MemberDTO">
    select * from member       
    where member_nid = #{member_nid}
  	</select> 
  	
  	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
  	select * from member
  	where member_id = #{member_id}
  	  <if test="member_pass != null">
  	  and member_pass = #{member_pass}
  	  </if>
  	</select>
  	
  	<select id="getMember" resultType="com.itwillbs.domain.MemberDTO">
  	select * from member
	where member_id = #{member_id}  	
  	</select>
  	
  	
  	<!-- sungha 07.29마이페이지-->
  	 <select id="getMember1" resultType="com.itwillbs.domain.MemberDTO">
  	select * from member
	where member_num = #{member_num}
  	</select>
  
  	
  	
  	<insert id="ninsertMember"> 
	 	insert into member(member_num, member_nid, member_name, member_phone, member_email)
	 	values(#{member_num}, #{member_nid},#{member_name}, #{member_phone}, #{member_email})
	</insert> 
  	
  	<select id="getMembers" resultType="map">
    SELECT * FROM member;
   </select>
   
   <update id="changeMemberStatus" parameterType="list">
    UPDATE member
    SET member_delYn = 'N'
    WHERE member_num IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
  </update>
  
  <!-- 장바구니에 목록 추가  -->
  <insert id="insertCart">
	INSERT INTO cart (   
				cart_num,
				member_num,
				item_num,
				cart_cnt
	)
	VALUES (
	#{cart_num},
	#{member_num},
	#{item_num},
	#{cart_cnt}
	)
  </insert>
  
  <!-- 장바구니에 목록 조회 -->
  <select id="getCartList" resultType="map">
  	SELECT * 
	FROM cart c  JOIN item i 
	ON i.item_num = c.item_num
	WHERE member_num = #{member_num};
  </select>
  
  <!-- 장바구니에 상품 있는지 조회(개별) -->
  <select id="getCart" resultType="boolean"> 
  	SELECT *
	FROM  cart
  	WHERE member_num = #{member_num}
  	AND item_num = #{item_num}
  	LIMIT 1;
  </select>
  
  <!-- 장바구니에 수량 변경 -->
  <update id="updateCart">
  	UPDATE cart as c
  	SET	cart_cnt = c.cart_cnt + #{cart_cnt}
  	WHERE item_num = #{item_num}
  	AND member_num = #{member_num}
  </update>
  
  
   <update id="updateMember">
  UPDATE member
  SET member_name = #{member_name},
      member_phone = #{member_phone},
      member_email = #{member_email},
      member_pass  = #{new_member_pass},
      <if test="member_pass != null">member_pass = #{member_pass}</if>
  WHERE member_id = #{member_id}
</update>

  <!-- 주문상세 목록 추가 insert : 주문번호 랜덤 생성 -->
  <insert id="insertOrderDetail">
	INSERT INTO order_detail (member_num, order_num, item_num, item_cnt)
	SELECT
	     c.member_num AS member_num,
	     CONCAT(DATE_FORMAT(NOW(), '%Y%m%d'), LPAD(o.id, 8, '0')) AS order_num,
	     c.item_num AS item_num,
	     c.cart_cnt AS item_cnt
	FROM cart c
	CROSS JOIN (SELECT FLOOR(RAND() * 1000) + 1 AS id) AS o
	WHERE c.member_num = #{member_num};
  </insert>		

  
  <!-- 리뷰작성 -->
  <insert id="insertReview">
  	insert into review (review_num, member_num, order_num, item_num, review_star, review_title, review_content, review_img, review_day) 
    values (#{review_num}, #{member_num}, #{order_num}, #{item_num}, #{review_star}, #{review_title}, #{review_content}, #{review_img}, NOW())
  </insert>
  
   <select id="getItemReviews" resultType="com.itwillbs.domain.MemberDTO">
    SELECT * FROM review WHERE item_num = #{item_num}
  </select>
  
  <!--  1대1문의 -->
  <insert id = "insertOneBoard">
  	insert into one_board (one_board_type, one_board_title, one_board_content, one_board_file, one_board_pass, one_board_day, one_board_repYn, item_num, member_num, one_board_private)
  	value(#{one_board_type}, #{one_board_title}, #{one_board_content}, #{one_board_file}, #{one_board_pass}, now(), "미답변", #{item_num}, #{member_num}, #{one_board_private})
  
  </insert>
  
  <delete id="deleteCart">
  	DELETE 
  	FROM cart
  	WHERE item_num = #{item_num} 
  	AND member_num = #{member_num}
  </delete>
  
  
  
</mapper>