<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SellerMapper">
    <select id="getSellers" resultType="map">
    	<!-- 이중조인해서 결제금을 이용해 판매자별 총매출불러오고 format으로 1000단위 구분함. -->
    <!-- 관리자 총매출 구하기전
         SELECT s.seller_num, s.seller_storeName, s.seller_name,
       	 FORMAT(SUM(o.order_pay), 0) AS total_revenue,
         FORMAT(floor(sum(o.order_pay) * 0.05), 0) as fee,
         FORMAT(SUM(o.order_pay) - floor(sum(o.order_pay) * 0.05), 0) as settlement_amount
         FROM seller s
         LEFT JOIN item i ON s.seller_num = i.seller_num
         LEFT JOIN orders o ON i.item_num = o.item_num
         WHERE s.seller_num != 'admin'
         GROUP BY s.seller_num, s.seller_id, s.seller_name;   
    -->
   		 SELECT s.seller_num, s.seller_storeName, s.seller_name,
       	 FORMAT(SUM(o.order_pay), 0) AS total_revenue,
         FORMAT(floor(sum(o.order_pay) * 0.05), 0) as fee,
         FORMAT(SUM(o.order_pay) - floor(sum(o.order_pay) * 0.05), 0) as settlement_amount,
         
         FORMAT((SELECT SUM(o.order_pay) FROM orders o
               INNER JOIN item i ON i.item_num = o.item_num
               INNER JOIN seller s ON s.seller_num = i.seller_num
               WHERE s.seller_num != 'admin'), 0) as grand_total_revenue,
         FORMAT((SELECT SUM(floor(o.order_pay * 0.05)) FROM orders o
               INNER JOIN item i ON i.item_num = o.item_num
               INNER JOIN seller s ON s.seller_num = i.seller_num
               WHERE s.seller_num != 'admin'), 0) as grand_fee,
         FORMAT((SELECT SUM(o.order_pay) - SUM(floor(o.order_pay * 0.05)) FROM orders o
               INNER JOIN item i ON i.item_num = o.item_num
               INNER JOIN seller s ON s.seller_num = i.seller_num
               WHERE s.seller_num != 'admin'), 0) as grand_settlement_amount
         
         FROM seller s
         LEFT JOIN item i ON s.seller_num = i.seller_num
         LEFT JOIN orders o ON i.item_num = o.item_num
         WHERE s.seller_num != 'admin'
         GROUP BY s.seller_num, s.seller_id, s.seller_name;
    </select>
    
	<!-- 가맹점 관리 -->
	<select id="getSeller" resultType="map"> 
	select * from seller; 
	</select>
	
	<!-- 판매자 체크 -->
    <select id="sellerCheck" resultType="map">
    select * from seller
    where seller_id = #{seller_id}
  	</select> 
  	
  	<!-- 선진) 판매자 정보 가져옴 -->
    <select id="getSellerInfo" resultType="map">
    select * from seller
    where seller_num = #{seller_num}
    </select>
    
    <!-- 선진) 판매자 정보 수정 -->
    <!-- 판매자 코드가 일치하는 판매자의 개인정보를 수정 -->
    <update id="updateSeller">
  	update seller
  	set seller_email = #{seller_email}, 
  		seller_mobile = #{seller_mobile},
  		seller_phone = #{seller_phone}, 
  		seller_bank = #{seller_bank},
  		seller_accountNum = #{seller_accountNum},
  		seller_accountHolder = #{seller_accountHolder},
  		seller_post = #{seller_post},
  		seller_addMain = #{seller_addMain},
  		seller_addSub = #{seller_addSub}
  	where seller_num = #{seller_num}
    </update>
    
   <!-- 선진) 차트1 -->
   <select id="getDailySales" resultType="map">
   <![CDATA[
	SELECT date_range.order_mmdd, COALESCE(order_mmdd_totalSales, 0) AS order_mmdd_totalSales
	FROM(SELECT DATE_FORMAT(day_range, '%Y-%m-%d') AS order_mmdd
		 FROM (SELECT DATE_ADD(DATE_FORMAT(LAST_DAY(CURRENT_DATE), '%Y-%m-01'), INTERVAL d DAY) AS day_range
			   FROM (SELECT a.digit * 100 + b.digit * 10 + c.digit AS d
			   		 FROM (SELECT 0 AS digit UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) a,
				          (SELECT 0 AS digit UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) b,
						  (SELECT 0 AS digit UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9) c
	                 WHERE a.digit * 100 + b.digit * 10 + c.digit <= DAY(LAST_DAY(CURRENT_DATE))) days) day_range 
			   WHERE day_range <= LAST_DAY(CURRENT_DATE)) date_range
	LEFT JOIN (SELECT DATE_FORMAT(SUBSTRING(od.order_num, 1, 8), '%Y-%m-%d') AS order_mmdd, SUM(it.item_price * od.item_cnt) AS order_mmdd_totalSales
			   FROM order_detail od
			   JOIN item it ON od.item_num = it.item_num
			   WHERE od.item_num IN (SELECT item_num FROM item WHERE seller_num = 'CR0001')
			   GROUP BY order_mmdd) order_totals ON date_range.order_mmdd = order_totals.order_mmdd
	ORDER BY date_range.order_mmdd;
	]]>
   </select>

    <!-- 가맹점 상태 Y/N -->
    <update id="approveSellerStatus" parameterType="list">
    update seller
    set seller_recoYn = 'Y'
    where seller_num in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
	</update>

	<update id="rejectSellerStatus" parameterType="list">
    update seller
    set seller_recoYn = 'N'
    where seller_num in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
	</update>
    
   <!-- 상품 등록 -->
    <insert id="itemInsert">
       INSERT INTO item (
           seller_type,
           item_name,
           item_price,
           item_sale,
           item_mainImg,
           item_left,
           item_detail,
           seller_num,
           item_register
       )
       VALUES (
           #{seller_type},
           #{item_name},
           #{item_price},
           #{item_sale},
           #{item_mainImg},
           #{item_left},
           #{item_detail},
           #{seller_num},
           now()
       )
   </insert>
   
   <!-- 상품 등록 수정 -->
   <update id="itemUpdate">
   UPDATE item
   SET	seller_type = #{seller_type},
   		item_name = #{item_name},
   		item_price = #{item_price},
   		item_mainImg = #{item_mainImg},
   		item_detail = #{item_detail},
   		item_left = #{item_left}
   
   WHERE item_num = #{item_num} AND seller_num = #{seller_num}
   </update>
   

    <!-- 상품전체 가져오기  -->
    <select id="getItems" resultType="map">
       SELECT *
       FROM item
       ORDER BY item_num desc
    </select>

   <!-- 개별상품 가져오기  -->
   <select id="getItem" resultType="map">
       SELECT *
       FROM item
       WHERE item_num = #{item_num}
       LIMIT 1
   </select>
       
      <!--월별 판매량 가져오기  -->
    <select id="getSales" resultType="map">
    SELECT st.seller_num, s.seller_name,
	DATE_FORMAT(st.order_day, '%Y-%m') as order_month,
	FORMAT(SUM(o.order_pay), 0) AS total_revenue,
	FORMAT(floor(sum(o.order_pay) * 0.05), 0) as fee,
	FORMAT(SUM(o.order_pay) - floor(sum(o.order_pay) * 0.05), 0) as settlement_amount,
	st.settlement_yn
	from settlement st
	LEFT JOIN seller s ON s.seller_num = st.seller_num
	LEFT JOIN item i ON s.seller_num = i.seller_num
	LEFT JOIN orders o on o.order_day = st.order_day
	WHERE s.seller_num != 'admin'
	GROUP BY st.seller_num, s.seller_name, order_month, st.settlement_yn
	ORDER BY order_month; 
    </select>
    
    
   <!-- 정산작업 아직 미완성구문 -->
<update id="updateSettlementYn" parameterType="map">       
    UPDATE settlement
    SET settlement_yn = 'Y'
    WHERE seller_num IN
    (   <foreach collection="sellerNums" item="sellerNum" open="(" close=")" separator=",">
            #{sellerNum}
        </foreach> ) 
    AND DATE_FORMAT(order_day, '%Y-%m') = #{order_month};
</update>
   

   <!-- 일별 판매량 가져오기 수정-->
   <select id="daySales" resultType="map" parameterType="map">
   	 SELECT s.seller_num, s.seller_storeName, s.seller_name,
	 DATE_FORMAT(st.order_day, '%Y-%m') as order_month,
	 DATE_FORMAT(st.order_day, '%Y-%m-%d') as order_day,
     FORMAT(o.order_pay, 0) as revenue,
     FORMAT(floor((o.order_pay) * 0.05), 0) as fee,
     FORMAT((o.order_pay) - floor((o.order_pay) * 0.05), 0) as income
     FROM settlement st
	 LEFT JOIN seller s ON s.seller_num = st.seller_num
	 LEFT JOIN item i ON s.seller_num = i.seller_num
	 LEFT JOIN orders o on o.order_day = st.order_day
     WHERE s.seller_num != 'admin'
     AND s.seller_num = #{sellerNum}
	 AND DATE_FORMAT(st.order_day, '%Y-%m') = #{orderMonth} 
     GROUP BY s.seller_num, s.seller_id, s.seller_name, st.order_day,order_pay
     ORDER BY st.order_day;
   </select>
   
   <!--판매자별 연간판매량전체-->
   <select id="yearSales" resultType="map" parameterType="map">
      SELECT st.seller_num, s.seller_name,
	  DATE_FORMAT(st.order_day, '%Y-%m') as order_month,
	  FORMAT(SUM(o.order_pay), 0) AS revenue,
	  FORMAT(floor(sum(o.order_pay) * 0.05), 0) as fee,
	  FORMAT(SUM(o.order_pay) - floor(sum(o.order_pay) * 0.05), 0) as income
	  FROM settlement st
	  LEFT JOIN seller s ON s.seller_num = st.seller_num
	  LEFT JOIN item i ON s.seller_num = i.seller_num
	  LEFT JOIN orders o on o.order_day = st.order_day
	  WHERE s.seller_num != 'admin'
	  AND s.seller_num = #{sellerNum}
	  GROUP BY s.seller_num, s.seller_name, order_month
	  ORDER BY order_month;
   </select>
   
   	<!-- 판매자 회원가입 -->
    <insert id="insertSeller">  
        insert into seller(seller_num, seller_type, seller_licenseNum, seller_id, seller_pass, seller_name, seller_storeName, seller_post,
        seller_addMain, seller_addSub, seller_phone, seller_bank, seller_accountNum, seller_accountHolder, seller_email, seller_joinDay)
        values((SELECT *
        FROM (
            SELECT CONCAT(#{seller_type}, LPAD( (SELECT COUNT(*) + 1 as next_num 
                            FROM seller 
                            WHERE seller_type = #{seller_type}), 3, '0'))
            FROM DUAL
        	 ) A), #{seller_type}, #{seller_licenseNum}, #{seller_id},#{seller_pass}, #{seller_name}, #{seller_storeName}, #{seller_post}, 
        	 #{seller_addMain}, #{seller_addSub}, #{seller_phone}, #{seller_bank}, #{seller_accountNum}, #{seller_accountHolder}, #{seller_email}, now())
    </insert>   


   
</mapper>